<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%#= f.input :background_url %>
  <div id="dropzone-area" class="text-center">
    <h1>Drop your image there</h1>
  </div>
  <%= hidden_field_tag :public_id %>
  <%= f.button :submit, :class => "form-control", :id => "submit_button" %>
<% end %>


<% content_for(:after_js) do %>

   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>
        <script type="text/javascript">
        var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
          uploadMultiple: false,
          acceptedFiles:'.jpg,.png,.jpeg,.gif',
          parallelUploads: 6,
          url: 'https://api.cloudinary.com/v1_1/dhujfzatq/image/upload'
        });
        myDropzone.on('sending', function (file, xhr, formData) {
          formData.append('api_key', <%= ENV["CLOUDINARY_API_KEY"] %>);
          formData.append('timestamp', Date.now() / 1000 | 0);
          formData.append('upload_preset', 'dropzone_mister_cocktail');
          $('#submit_button').val('Loading...');
        });
        myDropzone.on('success', function (file, response) {
          $("#public_id").val(response.public_id);
          $('#submit_button').val('Create Cocktail');
        });
  </script>
<% end %>
