<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Our last cocktails</h1>
      <%= cl_image_tag("vmqneypnjemhtc0o6lmo", :width=>200, :height=>200, :gravity=>"face", :crop=>"thumb") %>
    </div>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.background_url %>');">
          <div class="card-category"><%#= cocktail.doses.count %></div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <p>
              <%= cocktail.doses.count %> <%= cocktail.doses.count > 1 ? 'Ingredients' : 'Ingredient' %>
            </p>
          </div>
          <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
