<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
          <h1><%= @cocktail.name %></h1>
          <h3>Doses:</h3>
          <br>
          <ul class="list-unstyled">
            <% @cocktail.doses.each do |dose| %>
              <li>
                <p>
                  <%= dose.description %> (<%= dose.ingredient.name %>)
                  <%= link_to "Delete", dose_path(dose), method: :delete %>
                </p>
              </li>
            <% end %>
          </ul>
      </div>
      <div class="col-xs-4">
        <%= image_tag @cocktail.background_url, {class: "avatar-square-large"} %>
        <p class="text-center padded">
          <%= link_to 'Return to cocktails', cocktails_path, class: "btn btn-danger" %>
          <%= link_to 'New dose', new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>
</div>
